INPUT[type="text"]{
    text-align: center;
    font-size: 16px;
    font-family: Arial;
    height: 30px;
    width: 30px;
}

#text{
    font-family: Arial;
    width: 30em;
    height: 25em;
    font-size: 20px;
    margin-left: 500px;
}

h1{
    font-family: Times New Roman;
    text-align: center;
    margin-top: -230px;
}

#myCros{
    padding:30px;
    width: 45em;
    height: 15em;
    margin: 0px 0px 0px 20px;
}

#check{
    width: 350px;
    height: 30px;
    margin-top: -120px;
    margin-left: 100px;
    }

body{
    background-size: 100%;
    background-image:  url(original.jpg);
}

#all{
    margin: 0;
    position: relative;
    top: 20%;
    left: 20%;
    width: 75em;
    height: 500px;
    background-color: white;
}

#word1, #word5, #word7{
    margin-left: 150px;
}

#word2, #word4{
    margin-left: 90px;
}

#word6{
    margin-left: 30px;
}

#a2, #b4, #c7, #d4, #e2, #j6, #k2{
    background-color: red;
}

@media (max-width: 1300px){
    #all{
        margin: 0;
        position: relative;
        top: 35%;
        left: 1%;
        width: 75em;
        height: 500px;
        background-color: white;
    }
}

@media (min-width:1360px) and (max-width: 1400px){
    #all{
        margin: 0;
        position: relative;
        top: 25%;
        left: 6%;
        width: 75em;
        height: 500px;
        background-color: white;
    }
}